<!doctype html>
<html>

<head>
  <meta charset="utf-8">
<title>introduction</title>
<link rel="StyleSheet" type="text/css" href="StyleSheet.css">
</head>
  <div class="textbox textbox-1">
<xyz class="xyz intro">
<body>
      <img class="pict image-1" src="./img/3.png" data-rimage data-src="./img/3.png">

 <p class="word word-2">The dataset we used consists with quiet large and specific data such as estimate date and time, whether or not criminals were arrested, whether these incidents are domestic violence, even the exact latitude and longitude of location. Our choosen set include every incidents from 2009 to 2019. We chose the data of 10 year as a sample size for this report.</p>
 
 <p class="word word-1">Eventhough crime data may kept confidential due to people’s privacy, we are interested to make the best use of open datasets to promote awareness of personal safety and of possible research purposes. In this case, we want to explore the relationship between crime type and location referring to the Chicago Crime dataset of incidents occurred in the city since 2001 to as recent as 7 days ago, gathered and publicized by <a href = "https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Police Department</a>.</p>

 
 <p class="word word-7"> Questions we want to explore...</p>
 
     <img class="pict image-2" src="img/intro-page icon2.png" data-rimage data-src="img/intro-page icon1.png">
         <p class="word word-4">How's the crime and location in Chicago look like over the past 10 years?</p>
     <img class="pict image-3" src="img/intro-page icon3.png" data-rimage data-src="img/intro-page icon3.png">
              <p class="word word-5"> What's the most committed crimes in Chicago?  </p>

      <img class="pict image-4" src="img/intro-page icon1.png" data-rimage data-src="img/intro-page icon1.png">
                    <p class="word word-6">How's the distribution of the most frequently occured crime looks like in Chicago?</p>

           <p class="word word-3"><span>Chicago</span> Crime Report</p>
           
     
 </div>
</body>
</xyz>
</html>
